### BigDataSchool.in

#### SriSreedhar

In [1]:
fruits = ['melon','papaya','grapes','apple','cherry','banana']

#convert all the values into upper case and add them to a seprate list

In [2]:
upper=list()

for eachfruit in fruits:
	upper.append(eachfruit.upper())

In [3]:
upper

['MELON', 'PAPAYA', 'GRAPES', 'APPLE', 'CHERRY', 'BANANA']

In [4]:
upper_2 =[fruit.upper() for fruit in fruits]

In [5]:
upper_2

['MELON', 'PAPAYA', 'GRAPES', 'APPLE', 'CHERRY', 'BANANA']

In [6]:
# every situation
# you need to work on list1 - modify contents - push them to a new list
# think abt using comprehensions

In [7]:
# [returnValue for value in collection]

In [8]:
# [operation_on_value for value in collection]

In [ ]:
for value in collection:
    value.someoperation
    
    
[value.someoperation for value in collection]

In [9]:
scientists=['nikola tesla','albert einstein','charles darwin','srinivas ramanujan']

In [10]:
scientists

['nikola tesla', 'albert einstein', 'charles darwin', 'srinivas ramanujan']

In [11]:
# extract only last names from the above list, convert them to upper case 
# and add them to a seperate list

In [12]:
# extract last names
# lastname .upper()
# newlist .append -lastname.upper()

In [13]:
scientists[0]

'nikola tesla'

In [14]:
scientists[0].split()

['nikola', 'tesla']

In [15]:
scientists[0].split()[1]

'tesla'

In [16]:
scientists[1].split()[1]

'einstein'

In [17]:
scientists[2].split()[1]

'darwin'

In [18]:
x=scientists[2].split()[1]
print(x.upper())

DARWIN

In [19]:
newlistt=list()

In [20]:
for name in scientists:
    ln=name.split()[1]
    newlistt.append(ln.upper())

In [21]:
newlistt

['TESLA', 'EINSTEIN', 'DARWIN', 'RAMANUJAN']

In [23]:
[name.split()[1].upper() for name in scientists]

['TESLA', 'EINSTEIN', 'DARWIN', 'RAMANUJAN']

In [24]:
[name.split()[1].upper() for name in ['nikola tesla', 'albert einstein', 'charles darwin', 'srinivas ramanujan'] ]

['TESLA', 'EINSTEIN', 'DARWIN', 'RAMANUJAN']

In [ ]:
[name.split()[1].upper() for name in [another+len(another)for another in scientists]]

In [26]:
[another+str(len(another)) for another in scientists]

['nikola tesla12',
 'albert einstein15',
 'charles darwin14',
 'srinivas ramanujan18']

In [28]:
[name.split()[1].upper() for name in [another+str(len(another))for another in scientists]]

['TESLA12', 'EINSTEIN15', 'DARWIN14', 'RAMANUJAN18']

In [30]:
# [value.operaton for value in collection]
# [value.operaton for value in [value2.opertn for value2 in collection2]]

In [31]:
# in a list of 10 numbers print all the even numbers

In [32]:
numbers=[1,2,3,4,5,6,7,8,9,10,11]

In [33]:
even=list()

In [35]:
for each in numbers:
    if each%2==0:
        even.append(each)

In [36]:
even

[2, 4, 6, 8, 10]

In [37]:
[number for number in numbers if number%2==0]

[2, 4, 6, 8, 10]

In [39]:
# [outPut for value in collection if cond_on_value]

In [40]:
import requests

In [41]:
emailurl="https://dworken.keybase.pub/signedVerifications/emails.txt"

In [42]:
resp=requests.get(emailurl).text

In [45]:
resp.split("\n\n")[1]

'david@daviddworken.com\nddworken@gmail.com\nddworken@protonmail.ch\ndworken@protonmail.ch\n-----BEGIN PGP SIGNATURE-----\nVersion: Keybase OpenPGP v2.0.51\nComment: https://keybase.io/crypto'

In [46]:
resp.split("\n\n")[1].split('\n')

['david@daviddworken.com',
 'ddworken@gmail.com',
 'ddworken@protonmail.ch',
 'dworken@protonmail.ch',
 '-----BEGIN PGP SIGNATURE-----',
 'Version: Keybase OpenPGP v2.0.51',
 'Comment: https://keybase.io/crypto']

In [47]:
for eachline in resp.split("\n\n")[1].split('\n'):
    if "@" in eachline and "." in eachline:
        print(eachline)

david@daviddworken.com
ddworken@gmail.com
ddworken@protonmail.ch
dworken@protonmail.ch

In [49]:
[eachline for eachline in requests.get(emailurl).text.split("\n\n")[1].split('\n') if "@" in eachline and "." in eachline]

['david@daviddworken.com',
 'ddworken@gmail.com',
 'ddworken@protonmail.ch',
 'dworken@protonmail.ch']

In [ ]:
requests.get(emailurl).text
requests.get(emailurl).text.split("\n\n")
requests.get(emailurl).text.split("\n\n")[1]
requests.get(emailurl).text.split("\n\n")[1].split('\n')

In [50]:
"stringname".upper()

'STRINGNAME'

In [51]:
"stringname".upper