#### Dictionary comprehensions

[value1,val2,val3...]

In [3]:
{'key1':'val1','key2':'val2'}

{'key1': 'val1', 'key2': 'val2'}

In [6]:
numbers=list(range(20))

In [7]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
# create squares of each number and then fit them into a dictioanry
# { number : Square_of_theNumber,...}

In [11]:
{str(num):num*num for num in numbers}

{'0': 0,
 '1': 1,
 '2': 4,
 '3': 9,
 '4': 16,
 '5': 25,
 '6': 36,
 '7': 49,
 '8': 64,
 '9': 81,
 '10': 100,
 '11': 121,
 '12': 144,
 '13': 169,
 '14': 196,
 '15': 225,
 '16': 256,
 '17': 289,
 '18': 324,
 '19': 361}

In [12]:
scientists=['nikola tesla','albert einstein','charles darwin','srinivas ramanujan']

In [13]:
{'Nikola':len('nikola tesla'),
'Albert':len("albert einstein")}

{'Nikola': 12, 'Albert': 15}

In [14]:
# Set Comprehensions

In [15]:
{str(num) for num in numbers}

{'0',
 '1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9'}

#### Generators

In [17]:
t=(i for i in numbers)

In [18]:
t

In [19]:
ll=[i for i in numbers]

In [20]:
ll

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [21]:
# next() -> to access the values from a generator

In [22]:
next(t)

0

In [23]:
next(t)

1

In [24]:
next(t)

2

In [43]:
next(t)

StopIteration:

In [62]:
listc=[number for number in list(range(10000000))]

In [54]:
len(listc)

100000

In [59]:
gene=(number for number in list(range(10000000)))

In [49]:
gene

In [50]:
import sys

In [63]:
sys.getsizeof(listc)

81528056

In [61]:
sys.getsizeof(gene)

120

In [64]:
del listc

In [66]:
print(dir(gene))

['__class__', '__del__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__name__', '__ne__', '__new__', '__next__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'close', 'gi_code', 'gi_frame', 'gi_running', 'gi_yieldfrom', 'send', 'throw']

In [67]:
scientists

['nikola tesla', 'albert einstein', 'charles darwin', 'srinivas ramanujan']

In [68]:
ages=[59,63,70,30]

In [69]:
{'nikola tesla':59}

{'nikola tesla': 59}

In [ ]:
zip()

In [84]:
temp=zip(scientists,ages)

In [79]:
temp

In [85]:
list(temp)

[('nikola tesla', 59),
 ('albert einstein', 63),
 ('charles darwin', 70),
 ('srinivas ramanujan', 30)]

In [80]:
t=dict(temp)

In [81]:
t

{'nikola tesla': 59,
 'albert einstein': 63,
 'charles darwin': 70,
 'srinivas ramanujan': 30}

In [82]:
print(dir(t))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [88]:
list(t.items())

[('nikola tesla', 59),
 ('albert einstein', 63),
 ('charles darwin', 70),
 ('srinivas ramanujan', 30)]

In [ ]:
# Files - csv
# DataBases with Python